# ------------------
# Node (Frontend)
# ------------------
audit-frontend/node_modules/

# ------------------
# Python (Backend)
# ------------------
audit-backend/__pycache__/
audit-backend/*.pyc
audit-backend/*.pyo
audit-backend/instance/
audit-backend/.env

# ------------------
# General
# ------------------
*.log
.DS_Store
.env
.env.*
